.auth {
  background-image: url('/img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  h1 {
    line-height: 22px;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
    color: #FFFFFF;
  }
  .brand {
    margin-bottom: 20px;
  }
  .btn {
    margin-top: 15px;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 30px;
    margin-bottom: 30px;
  }
  input {
    border: none;
    outline: none;
    border-radius: 0;
    height: 40px;
  }
  a {
    display: block;
    color: #FFFFFF;
    text-decoration: underline;
  }
}