.dropzone {
    border: 1px dashed #CCC;
    position: relative;
    min-height: 227px;
    margin-bottom: 20px;
}
.dz-message {
    font-size: 24px;
    color: #CCC;
    text-align: center;
    left: 50%;
    top: 50%;
    width: 300px;
    height: 70px;
    margin: -35px 0 0 -150px;
    position: absolute;
    z-index: 1000;
}
.dz-started .dz-message {
    display: none;
}
.dz-clickable {
    cursor: pointer;
}
.dropzone-previews {
    position: relative;
    z-index: 1001;
}
.dz-preview {
    .thumbnail();
    padding: 0;
    height: 200px;
    overflow: auto;
    .dz-details {
        color: #333;
        font-size: 12px;
        padding: 4px;
        margin-top: 1px;
        line-height: 16px;
    }
    .dz-error-message {
        font-size: 12px;
        padding: 0 4px;
        display: none;
        color: @brand-danger;
    }
    .dz-progress {
        position: absolute;
        top: 138px;
        height: 6px;
        background: #d7d7d7;
        display: none;
    }
    .dz-progress .dz-upload {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 0%;
        background-color: #8cc657;
    }
    .dz-image {
        height: 140px;
    }
}
.dz-processing .dz-progress {
    display: block;
}
.dz-success-mark,
.dz-error-mark {
    display: none;
}
.dz-error {
    border-color: @brand-danger;
    .dz-progress {
        display: none;
    }
    .dz-image {
        display: none;
    }
    .dz-error-message {
        display: block;
    }
}
.dz-success {
    border-color: @brand-success;
    .dz-progress {
        display: none;
    }
}
