@import '../../../../node_modules/bootstrap/less/bootstrap';
@import '../../../../node_modules/font-awesome/less/font-awesome';
@import 'variables';
@import 'alertify';
@import 'tabs';
@import 'sidebar';
@import 'fancybox';
@import 'dropzone';
@import 'angular-ui-tree';
@import 'auth';

html {
  height: 100%;
}

body {
  min-height: 100%;
}

.has-navbar {
  padding-top: 50px;
}

.main {
  min-height: 1100px;
  padding-top: 25px;
  padding-bottom: 25px;
  position: static;
  @media (min-width: @screen-sm-min) {
    min-height: 0;
    padding: 25px;
  }
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  a:hover { text-decoration: none; }
}

.switch {
  font-size: 20px !important;
  color: @brand-primary;
}
.switch.fa-toggle-off {
  color: @gray-light;
}

.tab-content { padding-top: 15px; }

.btn-toolbar { margin-bottom: 20px; }

.btn-add,
.btn-back {
  font-size: 36px;
  line-height: 1.1;
  margin-right: 10px;
  float: left;
}

.table .actions {
  display: none;
}

.table tr:hover .actions {
  display: block;
}

.pagination {
  margin-top: 0;
}

.checkbox.form-group {
  margin-bottom: 20px;
}