@gray-darker:            lighten(#000, 13.5%); // #222
@gray-dark:              lighten(#000, 20%);   // #333
@gray:                   lighten(#000, 33.5%); // #555
@gray-light:             lighten(#000, 60%);   // #999
@gray-lighter:           lighten(#000, 93.5%); // #eee

@brand-primary:          #428bca;
@brand-success:          #5cb85c;
@brand-info:             #5bc0de;
@brand-warning:          #f0ad4e;
@brand-danger:           #d9534f;

@body-bg:                #fff;
@text-color:             @gray-dark;

@link-color:             @brand-primary;
@link-hover-color:       darken(@link-color, 15%);

@fa-font-path:           '/fonts';

@font-family-sans-serif: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', 'Luxi Sans', sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

@border-radius-base:      3px;
@border-radius-large:     2px;
@border-radius-small:     1px;

@state-danger-text:       red;
